<md-grid-list flex layout-fill md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="250"
              md-gutter="8px" class="file-card-grid">
    <md-grid-tile ng-repeat="file in filesCtrl.files | orderBy:'-createdAt' ">
        <md-card layout-fill
        ">
        <md-card-header layout-align="end center">
            <!--<md-card-avatar flex>-->
            <!--<img src="{{project.projectIcon}}" class="md-icon">-->
            <!--</md-card-avatar>-->
            <md-card-actions flex layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Save" href="images/{{file.fileId}}" download>
                    <md-icon md-font-library="material-icons">save</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Delete"
                           ng-click="filesCtrl.deleteFile(file)">
                    <md-icon md-font-library="material-icons">delete</md-icon>
                </md-button>
            </md-card-actions>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{file.filename}}</span>
                <span class="md-subhead">Uploaded: {{file.uploadDate}}</span>
            </md-card-title-text>
        </md-card-title>
        </md-card>
    </md-grid-tile>
</md-grid-list>

<!--md-fab-bottom-right-->
<md-button ui-sref="project.file" class="md-fab new-btn" aria-label="Add File">
    <md-icon md-font-library="material-icons">file_upload</md-icon>
</md-button>

<ui-view></ui-view>