<div class="login-div">
    <md-content class="home-title-content">
        <h1>Project Manager</h1>
        <h3>Change the way you work!</h3>
    </md-content>
    <span layout-padding=""></span>
    <md-content layout="column" flex="auto" layout-padding class="md-whiteframe-z2  user-form-block">

        <!--<span class="md-title">Welcome</span>-->
        <form name="userForm" ng-submit="auth.logIn()">
            <md-input-container class="md-block">
                <md-icon md-font-library="material-icons">email</md-icon>
                <input ng-model="auth.user.email" type="email" placeholder="Email" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
                <md-icon md-font-library="material-icons">lock</md-icon>
                <input ng-model="auth.user.password" type="password" placeholder="Password" ng-required="true">
            </md-input-container>
            <md-input-container layout="flex">
                <md-button type="submit" class="md-raised md-primary submit-btn">Login</md-button>
            </md-input-container>

        </form>
        <a ui-sref="register">don't have an account? sign up</a>
    </md-content>
</div>

<!--flex-xs="90" flex-sm="60" flex-gt-sm="45" flex-gt-md="30" flex-gt-lg="20"-->