<md-divider flex="90" layout-padding layout-margin md-inset ng-show="projectsCtrl.invites.length>0">Project Invites
</md-divider>

<md-grid-list flex layout-fill md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="200"
              md-gutter="8px" class="project-card-grid">
    <md-grid-tile ng-repeat="invite in projectsCtrl.invites | orderBy:'-createdAt'">
        <md-card layout-fill>
            <md-card-header layout-align="end center">
                <md-card-avatar flex>
                    <img src="{{invite.project.projectIcon}}" class="md-icon">
                </md-card-avatar>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{invite.project.title}}</span>
                    <!--YES/NO Actions-->
                    <md-card-actions flex layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" aria-label="YES"
                                   ng-click="projectsCtrl.inviteResponse(invite,true)">
                            YES
                        </md-button>
                        <md-button class="md-raised md-warn" aria-label="NO"
                                   ng-click="projectsCtrl.inviteResponse(invite,false)">
                            NO
                        </md-button>
                    </md-card-actions>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-grid-tile>
</md-grid-list>


<md-divider flex="90" layout-padding layout-margin md-inset>Active Projects</md-divider>


<md-grid-list flex layout-fill md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="200"
              md-gutter="8px" class="project-card-grid">
    <md-grid-tile ng-repeat="project in projectsCtrl.projects | orderBy:'-createdAt' | filter:{archived:false}">
        <md-card layout-fill>
            <md-card-header layout-align="end center">
                <md-card-avatar flex>
                    <img src="{{project.projectIcon}}" class="md-icon">
                </md-card-avatar>
                <md-card-actions flex layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Bookmark">
                        <md-icon md-font-library="material-icons">bookmark</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Archive"
                               ng-click="projectsCtrl.archiveProject(project,true)">
                        <md-icon md-font-library="material-icons">done</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete"
                               ng-click="projectsCtrl.confirmDelete($event,project)">
                        <md-icon md-font-library="material-icons">delete</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card-header>
            <md-card-title ng-click="projectsCtrl.loadProject(project)">
                <md-card-title-text>
                    <span class="md-headline">{{project.title}}</span>
                    <span class="md-subhead" ng-show="project.endDate != null">Due: {{project.endDate}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-grid-tile>
</md-grid-list>


<md-divider flex="90" layout-padding layout-margin md-inset>Archived</md-divider>


<md-grid-list flex layout-fill md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="200"
              md-gutter="8px" class="project-card-grid">
    <md-grid-tile ng-repeat="project in projectsCtrl.projects | orderBy:'-createdAt' | filter:{archived:true}">
        <md-card layout-fill>
            <md-card-header layout-align="end center">
                <md-card-avatar flex>
                    <img src="{{project.projectIcon}}" class="md-icon">
                </md-card-avatar>
                <md-card-actions flex layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Archive"
                               ng-click="projectsCtrl.archiveProject(project,false)">
                        <md-icon md-font-library="material-icons">done</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete"
                               ng-click="projectsCtrl.confirmDelete($event,project)">
                        <md-icon md-font-library="material-icons">delete</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{project.title}}</span>
                    <span class="md-subhead" ng-show="project.endDate != null">Due: {{project.endDate}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-grid-tile>
</md-grid-list>



<!--md-fab-bottom-right-->
<md-button ui-sref="newProject" class="md-fab new-btn" aria-label="Add Project">
    <md-icon md-font-library="material-icons">add</md-icon>
</md-button>