<div layout="column" layout-gt-xs="row">
    <div id="user-page-left" layout="column">
        <div class="md-hue-2 md-whiteframe-z2 user-profile">
            <img src="/images/one.png"/>
            <div layout="column" class="user-profile-details">
                <p>Name: {{userCtrl.user.name}}</p>
                <p>Email: {{userCtrl.user.email}}</p>
            </div>
        </div>

        <div id="user-projects-wrapper" ng-show="userCtrl.user.projects">
            <span layout-margin class="md-headline"> Current Projects </span>
            <md-virtual-repeat-container id="user-projects" class="user-page-list">
                <div md-virtual-repeat="project in userCtrl.user.projects"
                     ng-click="userCtrl.loadProject(project)"
                     class="user-project md-whiteframe-1dp" layout-margin md-ink-ripple flex>
                    <p>{{project._id.title}}</p>
                </div>
            </md-virtual-repeat-container>
        </div>


        <div id="user-tasks-wrapper" ng-show="userCtrl.assignedTasks">
            <span layout-margin class="md-headline"> Current Tasks Assigned </span>
            <md-virtual-repeat-container id="user-tasks" class="user-page-list">
                <div md-virtual-repeat="task in userCtrl.assignedTasks"
                     ng-click="userCtrl.goToPage(task)"
                     class="user-project md-whiteframe-1dp" layout-margin md-ink-ripple flex>
                    <p>{{task.title}}</p>
                </div>
            </md-virtual-repeat-container>
        </div>
    </div>

    <div layout-margin>
        <highchart id="chart1" config="userCtrl.completedByDateConfig"></highchart>
        <highchart id="chart2" config="userCtrl.assignedByDateConfig"></highchart>
    </div>
</div>