
.project-item {
    margin: 0 auto;
}

.project-form-header {
    text-align: center;
}

.project-form-div {
    background-color: #fff;
    margin: 0 auto;
}

.project-icon-div {
}

.project-icon-preview {
    max-width: 150px;
    max-height: 150px;
}

.project-title-container {
    /*width:80%;*/
}

.date-input-container {

}

.add-more-info-btn {
}

.project-description .ta-editor {
    min-height: 300px !important;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

@media (min-width: 960px) {

    .project-item {
        width: 80%;
    }

    .project-form-div {
        width: 90%;
    }

}

@media (min-width: 1280px) {

    .project-form-div {
        width: 60%;
    }
}

.new-btn {
    position: fixed;
    top: 90%;
    left: 93%;
}

.project-card-grid {
    width: 80%;
    margin: 0 auto;
}

.project-card-grid md-card-header {
    height: 50px;
}

.project-card-grid md-card-header img {
    width: 50px;
}

.file-card-grid {
    margin: 0 auto;
}

.update-info-btn-div {
    position: relative;
    left: -100%;
}

.page-form-div {
    background-color: #fff;
    margin: 0 auto;
}

.file-form-div {
    background-color: #fff;
    margin: 0 auto;
}

.page-list {
    height: 900px;
    overflow-y: scroll;
}

.page-description .ta-editor {
    min-height: 500px !important;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.comment-form .comment-text-input {
    width: 100%;
}

.update-list {
    text-align: center;
}

.member-img {
    max-height: 50px;
}

.invite-form {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 960px) {

    .invite-form {
        width: 70%;

    }

}

/*.page-view{*/
/*display: none;*/
/*}*/

/*@media (min-width: 1280px) {*/

/*.page-view{*/
/*display: inherit;*/
/*}*/
/*}*/